<!DOCTYPE html>
<html>
<head>
  <title>Course Students Report</title>
  <!-- ...existing code... -->
</head>
<body>
  <%- include('../../partials/header') %>
  <main>
    <h1>Course Students Report</h1>
    <!-- ...report details... -->
  </main>
</body>
</html>
